.new_chat_button {
    position: absolute;
    bottom: 18px;
    right: 18px;

    max-width: unset;
    max-height: unset;
    min-height: unset;
    min-width: unset;

    --size: 55px;
    width: var(--size) !important;
    height: var(--size) !important;

    font-size: 20px;

    .v-icon {
        position: absolute;
    }
}
