@use "@/assets/stylesheets/theme.scss" as theme;

.chat_sidebar {
    position: relative;

    padding: 18px;

    border-right: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
}

.v-theme--myCustomDarkTheme {
    .chat_sidebar {
        background-color: theme.$secondary-color !important;
    }
}
