@use "@/assets/stylesheets/theme.scss" as theme;

.chat_header {
  background-color: theme.$background-color;
  border-bottom: 1px solid theme.$border-color-light;
  padding: 8px 0px;

  .chat-header-title{
    font-size: 18px;
  }
  .chat-header-subtitle{
    font-size: 12px;
  }
}

.chat_messaging_section {
  --chat-header-height: 65px;
  --chat-bubbles-width: 700px;
  --chat-input-height: 75px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  // Toggle Show/Hide
  display: none;
  &.chat_messaging_section_show {
    display: block;
  }
  // End Toggle Show/Hide

  .chat_messaging_section_container {
    display: flex !important;
    flex-direction: column;
    height: calc(100% - var(--chat-input-height));
  }

  .bubbles_container {
    flex: 1 1 auto;

    overflow-y: auto;

    &,
    .bubbles {
      height: 100%;
      &:first-child{
        margin-top: 7px;
      }
    }

    .bubbles {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      width: var(--chat-bubbles-width);
    }
  }

  .chat_input {
    margin-top: 10px;
    margin-bottom: 13px;

    flex: 0 0 auto;
    max-width: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: var(--chat-bubbles-width);

    display: grid;
    grid-template-columns: calc(100% - 75px) auto;
    justify-content: space-between;
  }
}

@media screen and (max-width: theme.$bk-desktop-1) {
  .chat_messaging_section {
    --chat-bubbles-width: 600px;
  }
}

@media screen and (max-width: theme.$bk-desktop-2) {
  .chat_messaging_section {
    --chat-bubbles-width: 95%;
  }
}
