.chat_header {
  background-color: theme.$background-color;
  border-bottom: 1px solid theme.$border-color-light;
  padding: 8px 0px;

  .chat-header-title {
    font-size: 18px;
  }
  .chat-header-subtitle {
    font-size: 12px;
  }
}

.chat_messaging_section {
  --chat-header-height: 65px;
  --chat-bubbles-width: 900px;
  --chat-input-height: 75px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  .back_of_chat_button {
    display: block;
  }

  @media screen and (min-width: theme.$bk-desktop-2) {
    .back_of_chat_button {
      display: none;
    }
  }

  .chat_messaging_section_container {
    display: flex !important;
    flex-direction: column;
    height: calc(100% - var(--chat-input-height));
  }

  .bubbles_container {
    flex: 1 1 auto;

    overflow-y: auto;

    &,
    .bubbles {
      height: 100%;
      &:first-child {
        margin-top: 7px;
      }
    }

    .bubbles {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      width: var(--chat-bubbles-width);
    }
  }

  .chat_input {
    margin-top: 10px;
    margin-bottom: 13px;

    flex: 0 0 auto;
    max-width: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: var(--chat-bubbles-width);

    .chat_input_input_box {
      width: 100%;
      min-height: 47px;
      background-color: rgb(theme.$surface-color);
      border-radius: theme.$rounded-lg;

      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        height: 100%;
        margin: 0 8px;
        width: 100%;
        &,
        &:focus,
        &:hover {
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .chat_messaging_section {
    --chat-bubbles-width: 95%;
  }
}

@media screen and (max-width: theme.$bk-desktop-2) {
  .chat_messaging_section {
    --chat-bubbles-width: 95%;
  }
}
