@use "@/assets/stylesheets/theme.scss" as theme;

.sidebar_user_profile {
    --avatar-size: 65px;

    display: grid;
    grid-template-columns: var(--avatar-size) calc(100% - var(--avatar-size));

    .sidebar_user_avatar {
        position: relative;

        width: var(--avatar-size);
        height: var(--avatar-size);

        box-shadow: 0px 0px 0px 5px rgb(theme.$secondary-color, 0.07);

        &,
        img {
            border-radius: 17px;
        }
        img {
            width: 100%;
            height: 100%;
        }
        margin-right: 15px;
    }

    .sidebar_user_info {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h1 {
            font-size: 20px;
        }
        span {
            font-size: 14px;
        }
    }
}
