.main_grid {
  --mini-sidebar-width: 90px;
  --sidebar-width: 450px;

  .main_view {
    width: calc(100% - var(--mini-sidebar-width));
  }

  display: grid;
  grid-template-columns: var(--mini-sidebar-width) calc(100vw - var(--mini-sidebar-width));

  .col {
    height: 100vh;
  }
}

#chat_section {
  position: relative !important;
  width: calc(100% - var(--mini-sidebar-width));
}

@media screen and (max-width: theme.$bk-desktop-2) {
  #chat_section {
    display: block;
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: rgb(theme.$background-color);
  }
}