.chat_grid {
    --sidebar-width: 420px;

    display: grid;
    grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
    .col {
        height: 100vh;
    }

    .chat_section {
        position: relative;
    }
}
