.app_menu {
    .v-list {
        .v-list-item {
            min-width: 250px !important;
        }
    }
    .app_menu_version {
        padding: 8px 0;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 13px !important;
    }

    .app_menu_night_mode_toggler {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
