.message_bubble_row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  &.message_bubble_rtl {
    margin-bottom: 5px;
    justify-content: right;
    .message_bubble_caption {
      background-color: rgb(theme.$primary-color) !important;
      border-radius: theme.$rounded-sm !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .message_bubble {
    max-width: 60%;

    @media screen and (max-width: theme.$bk-desktop-2) {
      &{
        max-width: 80%;
      }
    }

    .message_bubble_user_avatar {
      border-radius: 12px;
      .message_bubble_content .message_bubble_caption {
        background-color: rgb(theme.$primary-color);
      }
    }

    .message_bubble_content {
      &.message_bubble_image {
        img {
          width: 100%;
        }
        &,
        img {
          border-radius: theme.$rounded-sm;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.message_bubble_no_caption {
          &,
          img {
            border-radius: theme.$rounded-sm;
          }
        }

        .message_bubble_caption {
          top: -7px;
          border-top-right-radius: 0;
        }
      }

      .message_bubble_sender_username {
        font-size: 18px;
        margin-bottom: 7px;
      }
      .message_bubble_caption {
        position: relative;
        padding: 5px 9px;
        background-color: rgb(theme.$surface-color);
        font-size: 16px;

        border-radius: theme.$rounded-sm;
        border-top-left-radius: 0;
      }
    }
  }
}
